
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

body {
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.pane {
  flex: 1;
  border: none;
  min-width: 0;
  min-height: 0;
  height: 100vh;
}

.divider {
  width: 5px;
  background: #666;
  cursor: col-resize;
}

@media (max-width: 900px) {
  body {
    flex-direction: column;
  }
  .pane {
    width: 100vw;
    height: 50vh;
  }
  .divider {
    width: 100vw;
    height: 5px;
    cursor: row-resize;
  }
}
